<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<img src="<%= @post.post_image %>" alt="image">

<!-- this code is for follow button only -->
<!-- <%= link_to 'Follow', toggle_follow_post_path(user_id: @post.user_id) %> -->


<!-- this code is allowing follow and unfollow -->
<%= link_to @follow_status, toggle_follow_post_path(user_id: @post.user_id), class: @follow_status %>
<%= link_to @like_status, toggle_like_post_path(post_id: @post), class: @like_status %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
